---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
).slice(0, 3)
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} tags={[]} />

		<style>
			
		</style>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hello!</h1>
			<p>I'm a web developer from Delhi, India Currently lead developer at a local agency, Repindia. In my spare time I enjoy DIY, gaming and building my own projects. My preferred tools are PHP, Laravel, Git, VSCode and React.js.</p>

			<section class="recent-article mt-5">
				<h2>Recent Articles</h2>
				
				<ul>
					{
						posts.map((post) => (
						<li class="py-5">
								<article class="flex flex-col space-y-2 xl:space-y-0">
									
										<dl>
												<dt class="sr-only">
													Published on
												</dt>
												<dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400">
													<FormattedDate date={post.data.pubDate} />
												</dd>
										</dl>
										<div class="space-y-3">
												<div>
													
														<h2 class="text-2xl font-bold leading-8 tracking-tight">
															<a
																class="text-gray-900 dark:text-gray-100"
																href={`/blog/${post.slug}/`}
															>
															{post.data.title}
															</a>
														</h2>
														
															
														<div class="flex flex-wrap">
															{ post.data.tags.map((tag) => (
															<a
																class="mr-3 text-sm font-medium uppercase text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
																href=`tags/${tag}`
															>
																{tag}
															</a>
															))}
														</div>
															
														
												</div>
												<div class="prose max-w-none text-gray-500 dark:text-gray-400">
													{post.data.description}
												</div>
										</div>
									
								</article>
							</li>
						))
					}
				</ul>
			</section>

		</main>
		<Footer />
	</body>
</html>
